@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

section:not(.w-full) > div:first-of-type {
  max-width: 68.75rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Inter Variable", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(#669999)))
    rgb(var(#186666));
}

nav {
  @apply font-header;
}

h1 {
  @apply text-4xl font-bold mb-4 font-header text-primary;
}
h2 {
  @apply text-3xl font-bold mb-4 font-header text-primary;
}
h3 {
  @apply text-2xl font-bold mb-4 font-header text-primary;
}
h4 {
  @apply text-xl mb-4 text-primary;
}
h5 {
  @apply text-lg mb-4 text-primary;
}
h6 {
  @apply text-base mb-4 text-primary;
}
p {
  @apply text-base mb-4 text-base-content;
}

section {
  @apply w-full py-8 md:py-16 lg:py-32;
}

.secton-container {
  @apply space-y-8;
}

.squiggly-top-and-bottom {
  --mask: radial-gradient(34.99px at 50% 48px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(34.99px at 50% -18px, #0000 99%, #000 101%) 50% 30px/120px
      calc(51% - 30px) repeat-x,
    radial-gradient(34.99px at 50% calc(100% - 48px), #000 99%, #0000 101%)
      calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(34.99px at 50% calc(100% + 18px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px calc(51% - 30px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.squiggly-top {
  --mask: radial-gradient(34.99px at 50% 48px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% -18px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.squiggly-bottom {
  --mask: radial-gradient(
        34.99px at 50% calc(100% - 48px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(34.99px at 50% calc(100% + 18px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}